{{ define "main" }}

<h1>Latest posts</h1>
<div class="post-cards">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort (where .Pages ".Params.private" "!=" true) "Date" "desc")}}
        {{ $post := . }}
        <a href="{{ .RelPermalink }}" class="post-card" title="{{ .Title }}">
            {{ with .Params.cover }}
            <div class="post-card__img">
                <img src="{{ $post.RelPermalink }}{{ . }}" alt="{{ $post.Title }}" loading="lazy" decoding="async">
            </div>
            {{ else }}
            <div class="post-card__img post-card__img--empty"></div>
            {{ end }}
            <div class="post-card__body">
                <div class="post-card__date">{{ $post.Date | time.Format ":date_medium" }}</div>
                <div class="post-card__title">{{ $post.Title }}</div>
                <div class="post-card__summary">{{ $post.Summary | plainify | truncate 120 }}</div>
            </div>
        </a>
    {{ end }}
{{ end }}
</div>

<h1>Links</h1>
<p><a href="https://appsec.space/" target="_blank">appsec.space</a> - <a href="https://chadxz.dev/" target="_blank">chad</a> - <a href="https://blog.rldn.net/" target="_blank">mog</a> - <a href="https://frcv.net" target="_blank">nathan</a> - <a href="https://steveklabnik.com/writing/" target="_blank">steve klabnik</a></p>
<p>
  <a href="{{ "/" | relURL }}" style="display:inline-block; margin-right: 8px;">
    <img
      src="{{ "dustybutton.gif" | relURL }}"
      alt="dusty"
      width="88"
      height="31"
      style="max-width:none;width: 88px;height:auto"
    >
  </a>
  <a href="https://pixilic.com/?ref=clicky" style="display:inline-block; margin-right: 8px;">
    <img
      src="hunter.png"
      alt="Hunter"
      width="W"
      height="H"
      style="max-width:none;height:auto"
    >
  </a>
    <a href="https://crump.space/" style="display:inline-block; margin-right: 8px;">
    <img
      src="crumpspace.gif"
      alt="crumpspace"
      width="W"
      height="H"
      style="max-width:none;height:auto"
    >
  </a>
</p>

{{ end }}
